.order {
  padding: 27px 43px;
  margin-top: 110px;
  background-color: #282F38FF;
  border-radius: 10px;
}

.order__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.order__text {
  max-width: 650px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.order__span {
  color: #0E8784FF;
}

.order__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 14px 35px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  border: none;
  background: #0E8784;
  border-radius: 6px;
}